body {
	margin: 0;
	background-color: #f4ecdb;
	font-family: Arial, georgia;
}

nav {
	background-image: url(../img/green-texture.jpg);
	background-color: #4acbb8;
	width: 280px;
	height: 55px;
	margin: auto;
	text-align:center;

	a {
		color: white;
		text-decoration: none;
		font-size: 1.5em;
		}
		a:visited {
			color: white;
		}
}

header {

	width: 280px;
	margin: auto;

	h1, h2 {

		border: 2px solid #4acbb8;
		text-align: center;
		margin: 0;
	}
	.logo {
		width: 8.5em;
		padding-top: 5px;
	}
	div {
		width: 280px;
		height: 3px;
		margin: auto;
		background-color: #da7194;
	}
	h2 {
		padding: 5px;
		color: #da7194;
		text-transform: uppercase;
		font-size: 2em;
		text-shadow: 2px 2px 0px rgba(74, 203, 184, 1);


	}
}

.book-border {
	border: 2px solid #da7194;
	width: 276px;
	margin: auto;
	margin-top: 2px;
}

.book {
	background-image: url(../img/pink-texture.jpg);
	background-color: #da7194;
	margin: 2px 2px 2px 2px;
	height: 120px;
	text-align: center;

	h3 {
		color: white;
		font-weight: lighter;
		text-transform: uppercase;
		margin-top: 0;
		border-bottom: 2px solid white;
		width: 220px;
		margin: auto;
		margin-bottom: 20px;
		padding: 10px;
		letter-spacing: .2em;
	}

	a {
		color: #da7194;
		background-color: white;
		text-decoration: none;
		font-style: italic;
		padding: 10px 34px 10px 26px;
	}
	a:hover {
		background-color: #da7194;
		color: white;
	}
}

.future-slider {
	margin-left: 10px;
	padding: 10px;
}


//
// .slider-wrapper {
// 	width: 320px;
// 	margin: auto;
// }


.food-wrapper {
	width: 280px;
	margin: auto;
	padding: 5px;

	img{
		width: 280px;
	}
}

.social {
	width: 280px;
	text-align: center;
	margin: auto;

	ul {
		margin-top: 2px;
		list-style-type: none;
		border-top: 2px solid #56ccb0;
		border-bottom: 2px solid #56ccb0;

		li {
			display: inline-block;
			letter-spacing: 1em;
			font-size: 2em;
			padding-right: .5em;

			a, a:visited {
				color: #56ccb0;

				a:hover	{
					color: #da7194;
				}
			}
		}
	}
}



.welcome-border {
	border: 2px solid #56ccb0;
	width: 276px;
	margin: auto;
	margin-top: 2px;
}

.welcome {
	background-image: url(../img/green-texture.jpg);
	background-color: #56ccb0;
	margin: 2px 2px 2px 2px;
	text-align: center;

	h4 {
		color: white;
		font-weight: lighter;
		margin-top: 0;
		border-bottom: 2px solid white;
		width: 220px;
		margin: auto;
		margin-bottom: 20px;
		padding: 10px;
		letter-spacing: .2em;
	}

	p {
		color: white;
		letter-spacing: .08em;
		line-height: 1.2em;
		margin-bottom: 0;
		padding-bottom: 5px;
	}
}

.second-nav {
	text-align: center;

	ul {
		list-style-type: none;
		padding-right: 30px;

		a {
			text-decoration: none;
			text-transform: uppercase;
			color: #da7194;
			font-size: 2em;
			text-shadow: 2px 2px 0px rgba(74, 203, 184, 1);
		}
	}
}

.instagram-break {
	width: 320px;
	margin: auto;
	text-align: center;

	a{
		padding: .1em;
		color: #56ccb0;
		font-size: 2em;
		line-height: 2px;
		margin: auto;
	}
}

.instagram {
	width: 320px;
	margin: auto;
	text-align: center;
	img {
		width: 280px;
		margin-top: 5px;
	}
}

#address {
	width: 280px;
	margin: auto;
}

.address-text{
	float: right;
	color: #4acbb8;
	font-family: georgia;
	margin-right: 30px;
}

.address-text p:first-child:before {
	font-family: "FontAwesome";
	content: '\f000';
	color: #da7194;
}
.address-text p:nth-child(2)::before{
	font-family: "FontAwesome";
	content: '\f095';
	color: #da7194;
}
.footer {
	text-align: center;
	width: 280px;
	margin: auto;
	.logo {
		width: 7.5em;
		border: 2px solid #4acbb8;
		padding: .6em;
	}
}
